/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*UTILITIES*/
.container {
    max-width: 400px;
    margin: 0 auto;
}




/*HEADER*/

.main-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #0084fd;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}

.main-header .nav-bar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}

.nav-bar>.navbar-menu {
    display: flex;
    gap: 15px;
    font-size: 18px;
    display: none;

}

.nav-bar>.navbar-menu a {
    list-style-type: none;
    text-decoration: none;
    color: white;

}

.nav-bar>.navbar-menu li {
    list-style: none;
    text-decoration: none;

}

.nav-bar>.navbar-menu li .button {
    background-color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 20px;
    color: black;
}

/*MAIN*/
section {
    /* min-height: 500px; */
    padding: 3rem 0;
    /* padding: 3rem; */
}

section:nth-child(even) {
    background-color: #9792e4;


}

#intro .card {
    background-color: #b5ddff;
    border-radius: 20px;
    margin-bottom: 2rem;
    padding: 2rem;
    text-align: center;

    min-height: 500px;
}

#intro .card h3 {
    color: #0084fd;
    font-size: 25px;
    margin-bottom: 25px;
}

#intro .card p {
    color: #5a6e7f;
    font-size: 18px;
    font-weight: 600;

}

#intro .card a {
    background-color: #0084fd;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    padding: 5px 50px;
    border-radius: 20px;
    margin-top: 35px;
    display: inline-block;

}

#intro .col .large {
    position: relative;
}

#intro .col .card-img img {
    width: 200px;
    /* padding-top: 20px; */
    /* position: absolute;
    bottom: 0;
    left: 25%; */
}

#intro .card .fas {
    color: #0084fd;
    margin-bottom: 30px;
    margin-top: 50px;
}

/*planning*/
#planning .strategic {}

.strategic h2 {
    font-size: 30px;
    color: white;
}

.strategic p {
    font-size: 18px;
    margin-top: 50px;
    color: white;
}

.planning .strategic img {
    width: calc(100vw / 2);
    padding-bottom: 50px;

}

#planning .container.planning {
    display: flex;
    flex-direction: column;
    align-content: center;

}

#planning .app-dev {
    background-color: rgb(255, 255, 255);
    color: black;
    /* width: 500px; */
    min-height: 500px;
    align-self: center;
    text-align: center;
    border-radius: 50px;
    margin-top: 50px;
    margin-bottom: 3rem;
    padding: 2rem;


}

#planning .app-dev p {
    /* margin-top: 0; */
    color: black;
}

#planning .app-dev img {
    width: 400px;
}

#planning .app-dev h3 {
    font-size: 25px;
    margin-bottom: 50px;
}

#planning .app-dev i {
    padding: 4%;
    background-color: #9792e4;
    margin-top: 50px;
    border-radius: 50%;
}

/*TESTIMONIALS*/
#testimonials .customers {
    text-align: center;
}

#testimonials .customers h3 {
    font-weight: 100;
    margin-bottom: 2rem;
}

#testimonials .customers h2 {
    font-size: 30px;
    color: #9792e4;
    margin-bottom: 2rem;
}

#testimonials .customers p {
    font-size: 20px;
}

/*USERS*/
#testimonials .customers .user-pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: -50px;
    margin-bottom: 2rem;



}

#testimonials .customers .user-pic.a {
    background-image: url(../img/testimonial1.jpg);
}

#testimonials .customers .user-pic.b {
    background-image: url(../img/testimonial2.jpg);
}

#testimonials .customers .user-pic.c {
    background-image: url(../img/testimonial3.jpg);
}

.users {}

.users .user-col {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    border-radius: 20px;
    background-color: #9792e4;
    text-align: center;
    color: white;
}

/*BENEFITS*/
.w-us>h2 {
    color: white;
    font-size: 45px;
    text-align: center;
    margin-bottom: 2rem;
}

.benefit-row {
    display: flex;
    flex-direction: column;
}

.benefit-row .col {
    min-height: 400px;
    margin: 1rem 0;
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
}

.benefit-row .card {
    text-align: left;
}

.benefit-row .col .card h1 {
    font-size: 45px;
    color: #9792e4;
    margin-bottom: 1rem;
}

.benefit-row .col .card h2 {
    color: #9792e4;
    margin-bottom: 1rem;
}

.benefit-row .col .card p {
    font-size: 20px;
    color: #5a6e7f;

}

.benefit-row .col .card button {
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    background-color: #9792e4;
    padding: 7px 30px;
    border-radius: 20px;
    margin-top: 2rem;

}

/*ABOUT-US*/
#about-us .ceo-info {
    text-align: center;
    margin: 2rem;
}

#about-us .ceo-info>h2 {
    color: #9792e4;
    margin-bottom: 3rem;
    font-size: 45px;
}

#about-us .ceo-info>p {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 3rem;
    line-height: 40px;
}

.ceo-description>.ceo-pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-size: cover;
    background-image: url(../img/about.jpg);
    margin-bottom: 1rem;

}

.ceo-description>.ceo-pic .fa-quote-left {
    font-size: 70px;
    color: #9792e4;
    padding-left: 150px;
}

.ceo-description>h3 {
    font-size: 35px;
    color: #9792e4;
    margin-bottom: 2rem;

}

.ceo-description>button {
    cursor: pointer;
    padding: 8px 15px;
    background-color: #9792e4;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    border: 0;
}

/*GET-STARTED*/
#get-started>.promo {
    text-align: center;
}

#get-started>.promo h3 {
    font-weight: 100;
    color: #bacedf;
    margin-bottom: 1rem;
}

#get-started>.promo h2 {
    font-size: 35px;
    color: #fdfeff;
    margin-bottom: 2rem;
}

#get-started>.promo h1 {
    font-size: 50px;
    color: #fdc15f;
    margin-bottom: 1rem;
}

#get-started>.promo p {
    color: #fdfeff;
    margin-bottom: 2rem;
}

#get-started>.promo button {
    cursor: pointer;
    background-color: #ffffff;
    color: #9792e4;
    padding: 10px 30px;
    font-size: 25px;
    border-radius: 20px;
    margin-bottom: 2rem;
}

/*FOOTER*/

footer {
    background-color: #333333;

}

.footer-info {
    color: #fdfeff;
    text-align: center;
}

.footer-info p {
    margin-bottom: 2rem;
}

/*RESPONSIVE*/

@media screen and (min-width: 768px) {
    .container {
        max-width: 750px;
    }

    #intro .row {
        display: flex;
        flex-wrap: wrap;
        margin: -1rem;

    }

    #intro .col {
        flex-basis: calc(100% / 3);
        padding: 1rem;
        margin-bottom: -2rem;
    }

    #intro .col.large {
        flex-basis: calc(100% / 3 * 2);
    }

    .users .user-col {
        flex-direction: row;
        height: 250px;

    }

    #testimonials .customers .user-pic {
        padding-right: 200px;
        margin-top: 2rem;

    }

    .benefit-row {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .benefit-row .col {
        flex-basis: calc(100% / 2.5);
        margin: 1rem;
    }

    #about-us>.ceo-info {
        display: flex;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1040px;
    }

    .fa-bars {
        display: none;
    }

    .nav-bar>.navbar-menu {
        display: flex;
    }

    /* #intro .col.large {
        display: flex;
        flex-direction: ;
    }*/
    #intro .col .card-img img {
        width: 250px;
        left: 32%;
    }
}